.vitrisBg {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  @media (max-width: 775px) {
    .vitrisBg {
      background-repeat: no-repeat;
      background-attachment: scroll !important;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }
  }